#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

footer {
    padding: 5px;
    position: absolute;
    bottom: 0px;
    float: right;
}

#sidebar-wrapper {
    z-index: 500;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    margin-top: 50px;
    padding-top: 20px;
    overflow-y: auto;
    background-color: #F8F8F8;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #E7E7E7;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper footer {
    padding: 5px 10px;
    font-size: 12px;
    margin-bottom: 40px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#page-content-wrapper .container-fluid {
    margin-left: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.modal {
    display: block;
}

#chat-input {
    position: fixed;
    width: 100%;
    bottom: 0;
}

#chat-input textarea {
    border-style: solid;
    border-color: #D7D7D7;
    border-width: 1px 1px 0 0;
    padding: 0 5px;
    resize: none;
    width: 100%;
}

.chat-member {
    color: #888888;
    padding: 10px;
}

.chat-member-self {
    color: #CFB63B;
}

.cursor {
    cursor: pointer;
}

#chat-logs {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 12px;
    color: #CFB63B;
}

#chat-logs .message {
    padding: 3px;
}

.message-kind-error {
    font-size: 14px;
    color: #d9534f;
}

.message-kind-chat {
    font-size: 14px;
    color: #000;
}

.message-direction-out {
    color: #777;
}

@media(min-width: 500px) {
    #sidebar-wrapper {
        width: 200px;
    }

    #page-content-wrapper {
        position: relative;
    }

    #page-content-wrapper .container-fluid {
        margin-left: 200px;
    }

    #chat-input {
        width: calc(100% - 200px);
    }

    #chat-logs .message {
        padding: 5px 15px;
    }
}
