<footer>
  <p>
    <a href="http://github.com/crodjer/qotr">Source Code</a>
    | <a href="https://github.com/crodjer/qotr/blob/master/FLOW.rst#how-qotr-works">How</a>
    | <a href="http://www.gnu.org/licenses/agpl-3.0-standalone.html">Terms</a>
  </p>
</footer>
