<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="/">QOTR</a>
  </div>
</nav>

<!-- Sidebar -->
<div id="sidebar-wrapper">
  {{#each model.members as |member|}}
  <div class="chat-member chat-member-{{ member.type }}">
    {{ member.nick }}
  </div>
  {{/each}}
</div>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>
    <div class="row">
      <div id="chat-input">
        {{ input }}
      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->
{{outlet}}
