<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>QOTR</h1>
    <p>
      Start encrypted throw away chats quickly.
    </p>
    <p>
      {{#link-to 'channels.new' class='btn btn-primary btn-lg' }}
      Create a new chat now!
      {{/link-to }}
    </p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Bookmark</h2>
      <p>
        Use {{#link-to 'channels.new' }} this link {{/link-to }} as a bookmark,
        to create new chats.
      </p>
    </div>
    <div class="col-md-4">
      <h2>Encryption</h2>
      <p>
        The chats are encrypted via AES. The messages are encrypted before they
        leave your browser. QOTR servers cannot read them.
      </p>.
    </div>
    <div class="col-md-4">
      <h2>Pre-alpha</h2>
      <p>
        QOTR is pre-alpha quality software. Hence, you should not trust it with
        your private content.
      </p>
    </div>
  </div>

  <footer>
    <p>
      {{#link-to 'terms-and-conditions' }}Terms and Conditions{{/link-to }}
      | &copy; Rohan Jain 2015
    </p>
  </footer>
</div>
